/* 
  _____.__                                       .__    .___
_/ ____\  |   ____ ___  ___           ___________|__| __| _/
\   __\|  | _/ __ \\  \/  /  ______  / ___\_  __ \  |/ __ | 
 |  |  |  |_\  ___/ >    <  /_____/ / /_/  >  | \/  / /_/ | 
 |__|  |____/\___  >__/\_ \         \___  /|__|  |__\____ | 
                 \/      \/        /_____/               \/ 

  All classes are prefixed with fg- to avoid naming collisions
  A lot of the ideas for this were based off of http://flexboxgrid.com/
*/
* {
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased; }

body {
  background: #686F6D; }

h1 {
  margin: 0 0 30px 10px;
  font-size: 30px; }

section {
  min-height: 100vh;
  background: #69BCA0; }

[class^="fg-"] {
  border-radius: 5px; }

.page-container {
  width: 100%;
  padding: 0 5%; }

.fg-row-container {
  padding: 0 6%; }

.fg-sidebar {
  height: 230px;
  background: #BC7969;
  text-align: center; }

.fg-article {
  text-align: center;
  background: #39FFBC;
  margin: 0 0 10px 0;
  height: 50px; }

.fg-header {
  background: #6F3628;
  height: 100px;
  margin: 0 0 15px 0;
  text-align: center; }

.fg-footer {
  background: #6F3628;
  margin: 10px 0;
  height: 60px;
  text-align: center; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Container */
.fg-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px 0 5px; }

/* row */
.fg-row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  /* flex-direction: row; flex-wrap: wrap; */
  justify-content: center; }

[class^="fg-col"] {
  max-width: 100%;
  padding: 0 5px 0 0; }

[class^="fg-col"]:last-of-type {
  padding: 0; }

.fg-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.fg-col--1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--1 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--2 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--3 {
  flex-basis: 25%;
  max-width: 25%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--3 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--4 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--5 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--6 {
  flex-basis: 50%;
  max-width: 50%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--6 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--7 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--8 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--9 {
  flex-basis: 75%;
  max-width: 75%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--9 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--10 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--11 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col--12 {
  flex-basis: 100%;
  max-width: 100%;
  content: ""; }
  @media screen and (max-width: 0px) {
    .fg-col--12 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-1 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-2 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-3 {
  flex-basis: 25%;
  max-width: 25%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-3 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-4 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-5 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-6 {
  flex-basis: 50%;
  max-width: 50%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-6 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-7 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-8 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-9 {
  flex-basis: 75%;
  max-width: 75%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-9 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-10 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-11 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-12 {
  flex-basis: 100%;
  max-width: 100%;
  content: "phone"; }
  @media screen and (max-width: 400px) {
    .fg-col-phone-12 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-1 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-2 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-3 {
  flex-basis: 25%;
  max-width: 25%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-3 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-4 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-5 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-6 {
  flex-basis: 50%;
  max-width: 50%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-6 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-7 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-8 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-9 {
  flex-basis: 75%;
  max-width: 75%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-9 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-10 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-11 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-phone-lg-12 {
  flex-basis: 100%;
  max-width: 100%;
  content: "phone-lg"; }
  @media screen and (max-width: 648px) {
    .fg-col-phone-lg-12 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-1 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-2 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-3 {
  flex-basis: 25%;
  max-width: 25%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-3 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-4 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-5 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-6 {
  flex-basis: 50%;
  max-width: 50%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-6 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-7 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-8 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-9 {
  flex-basis: 75%;
  max-width: 75%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-9 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-10 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-11 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-12 {
  flex-basis: 100%;
  max-width: 100%;
  content: "tablet"; }
  @media screen and (max-width: 767px) {
    .fg-col-tablet-12 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-1 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-2 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-3 {
  flex-basis: 25%;
  max-width: 25%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-3 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-4 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-5 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-6 {
  flex-basis: 50%;
  max-width: 50%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-6 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-7 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-8 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-9 {
  flex-basis: 75%;
  max-width: 75%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-9 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-10 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-11 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-tablet-lg-12 {
  flex-basis: 100%;
  max-width: 100%;
  content: "tablet-lg"; }
  @media screen and (max-width: 991px) {
    .fg-col-tablet-lg-12 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-1 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-2 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-3 {
  flex-basis: 25%;
  max-width: 25%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-3 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-4 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-5 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-6 {
  flex-basis: 50%;
  max-width: 50%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-6 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-7 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-8 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-9 {
  flex-basis: 75%;
  max-width: 75%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-9 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-10 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-11 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

.fg-col-desktop-12 {
  flex-basis: 100%;
  max-width: 100%;
  content: "desktop"; }
  @media screen and (max-width: 1300px) {
    .fg-col-desktop-12 {
      flex-basis: 100%;
      max-width: 100%;
      padding: 0; } }

@media screen and (max-width: 400px) {
  .hide-at-phone {
    display: none; } }

@media screen and (max-width: 648px) {
  .hide-at-phone-lg {
    display: none; } }

@media screen and (max-width: 767px) {
  .hide-at-tablet {
    display: none; } }

@media screen and (max-width: 991px) {
  .hide-at-tablet-lg {
    display: none; } }

@media screen and (max-width: 1300px) {
  .hide-at-desktop {
    display: none; } }

/* Responsive Breakpoints */
